@import '../../common/variables.scss';

.Header {
  background: black;
  height: calc(100vh - 1px);
  border-bottom: 1px solid $primaryColor;
  img {
    height: 100%;
    width: 100%;
    opacity: .4;
  }

  > div {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      text-align: left;
      color: white;
    }
    span {
      color: $primaryColor;
    }
  }
}
