$fire_opal: #F25F5C;
$gray75: #50514F;
$baseUnit: 8;

$primaryColor: $fire_opal;
$bgColor: $gray75;
$debug_border: none;
$box_shadow_1: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

:export {
  $fire_opal: $fire_opal;
  $gray75: $gray75;
  $baseUnit: $baseUnit;

  $primaryColor: $fire_opal;
  $secondaryColor: $gray75;
  $debug_border: $debug_border;

  $box_shadow_1: $box_shadow_1;
}
